@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

* {
	margin: 0;
	padding: 0;
}
/* 
Pale Yellow (#FFFFE0):
Mint Cream (#F5FFFA): 
Lavender Blush (#FFF0F5): 
 */

#root {
	background-color: #ffffe0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: montserrat;
}

.header {
	height: 8vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff0f5;
	font-weight: 900;
	@media screen and (max-width: 425px) {
		font-size: small;
	}
	@media screen and (max-width: 375px) {
		font-size: x-small;
	}
}

.content {
	height: 87vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-container {
	border-radius: 5px;
	width: 40vw;
	background-color: cornsilk;
	padding: 2vh;
	@media screen and (max-width: 425px) {
		width: 80vw;
		
	}
}

.content-containers {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1vh;
}

.input, .select {
	width: 15vh;
	padding : 0.5vh;
}
.wrong {
	background-color: rgb(255, 159, 159);
}

.btn {
	padding: 0.5vh;
	background-color: #ffffe0;
	border: 0.5px solid black;
	font-weight: 700;
}
.btn:hover {
	cursor: pointer;
	background-color: #e5e5d1;
}

.label {
	border: 0.2px black solid;
	background-color: #dbfbe2;
	padding: 0.5vh;
	font-weight: 700;
}
.footer {
	background-color: #fff0f5;
	height: 5vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer-link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}