* {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	height: 8vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: blanchedalmond;
	
}

.content {
	height: 87vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-container{
	width: 40vw;
}

.content-containers{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1vh;

}

.wrong {
	background-color: rgb(255, 159, 159);
}

.footer {
	background-color: blanchedalmond;
	height: 5vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.footer-link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}